@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4 text-primary">Condo Entry Log</h1>
        <h4><span class="text-muted">A project by </span><i>Nicole Yaghoobi</i></h4>
        <hr />
        <a asp-area="" class="btn btn-outline-primary btn-lg" asp-controller="Visitors" asp-action="Index">Start Now</a>
    </div>